:root {
  --gray-050: oklch(0.1867 0 0);
  --gray-100: oklch(0.25 0 0);
  --gray-200: oklch(0.32 0 0);
  --gray-300: oklch(0.46 0 0);
  --gray-400: oklch(0.53 0 0);
  --gray-500: oklch(0.60 0 0);
  --gray-600: oklch(0.67 0 0);
  --gray-700: oklch(0.74 0 0);
  --gray-800: oklch(0.81 0 0);
  --gray-900: oklch(0.88 0 0);
  --gray-950: oklch(0.95 0 0);
  --gray-1000: oklch(1 0 0);

  --red-050: oklch(0.0670 0.1984 29.23);
  --red-100: oklch(0.1503 0.1984 29.23);
  --red-200: oklch(0.2336 0.1984 29.23);
  --red-300: oklch(0.3169 0.1984 29.23);
  --red-400: oklch(0.4002 0.1984 29.23);
  --red-500: oklch(0.4835 0.1984 29.23);
  --red-600: oklch(0.5835 0.1984 29.23);
  --red-700: oklch(0.6668 0.1984 29.23);
  --red-800: oklch(0.7501 0.1984 29.23);
  --red-900: oklch(0.8334 0.1984 29.23);
  --red-950: oklch(0.9167 0.1984 29.23);


  --primary-clr: var(--gray-050);
  --secondary-clr: var(--red-500);
  --tertiary-clr: var(--gray-1000);
}

body {
  color: var(--primary-clr);
}
