header {
  padding-block: 1em .5em;
  border-block-end: 1px solid var(--gray-900);
  box-shadow: 0 -.5em .5em .5em var(--gray-700);

  nav {

    ul {
      padding: 0;
      display: flex;
      list-style: none;
      gap: 2ch;
    }

    li + li {
      position: relative;

      &::before {
        content: "|";
        position: absolute;
        top: 0;
        left: -1ch;
      }
    }

    svg {
      width: 3em;
    }
  }
}

footer {
  padding-block-end: 3em;

  .grid div {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
    "social seal"
    "copy seal";

    .social {
      grid-area: social;
    }
    . copy {
      grid-area: copy;
    }
    .seal {
      grid-area: seal;
    }
  }

  ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    list-style: none;
    gap: 2ch;
  }
}
